OS_VERSION=bookworm

# Project General Settings
DOMAIN_NAME=login.42.fr
DATA_ROOT=/home/login/data

# NGINX TLS certificate subject
SSL_COUNTRY=TR
SSL_STATE=Istanbul
SSL_LOCALITY=Istanbul
SSL_ORG=42Istanbul
SSL_OU=Student

# Database Information
SQL_DATABASE=wordpress
SQL_USER=wp_user
SQL_PASSWORD=change_me_sql_user_password
SQL_HOST=mariadb
SQL_ROOT_PASSWORD=change_me_sql_root_password

# WordPress Information
SITE_TITLE=Inception
WP_ADMIN_USER=siteowner
WP_ADMIN_PASSWORD=change_me_wp_admin_password
WP_ADMIN_EMAIL=admin@student.42.fr

WP_USER=authoruser
WP_PASSWORD=change_me_wp_user_password
WP_EMAIL=user@student.42.fr
